 /* table{
    text-align: center;
    margin: 20px;
    margin-left: 5%;
    color : aliceblue;
    width: 90%;
    
}

form{
    color: aliceblue;
    display: inline-flex;
    text-align:center;
    padding-top: 2%;

}

input{
    margin-left: 2%;
}
h1{
    color: aliceblue;
    text-align: center;
    padding-top: 2%;
    font-size: 45px; 
}
 */
