.textCenter{
    color: rgb(87, 212, 129);
    text-shadow: 2px 2px rgb(55, 77, 53);
    font-size: 54;
    text-align: center;
}

.text{
    float: center;
    color: rgb(87, 212, 129);
    text-shadow: 2px 2px rgb(55, 77, 53);
    text-align: justify;
}

.inputField {
    background-color: rgba(55, 77, 53, 0.726);
    border-radius: 10px;
    border: none;
  }

.btn {
background-color: rgb(55, 77, 53);
border: none;
}