@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Sigmar+One&display=swap');

body{
    font-family: 'Marcellus SC', serif;
    background-color: rgb(24, 13, 9);
    border: none;
}

